POSTGRES_DB=washgo_db
POSTGRES_USER=washgo
POSTGRES_PASSWORD=change-me

SPRING_PROFILES_ACTIVE=docker
SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092

EC2_1_PRIVATE_IP=172.31.42.90
WASHGO_GATEWAY_SECRET=change-me

FIREBASE_CREDENTIALS_BASE64=base64-encoded-service-account-json

RAZORPAY_KEY_ID=rzp_test_RqmkBRzq88dV9w

RAZORPAY_KEY_SECRET=LHw678jl2FEAweUmOBTf9oWY
RAZORPAY_CURRENCY=INR

SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=runcode2025@gmail.com
SPRING_MAIL_PASSWORD=ankita@prakash!!0508
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true